// app global css in SCSS form

body {
  color: white;
  background-color: $primary;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  line-height: normal;
  font-weight: normal;
  font-size: 76px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  color: $accent;
}

h3 {
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
}

.debug {
  border: 1px solid red;
}

.page {
  margin: 0 10vw;
}
